<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="./Sign_Up.css">
    <style>


    </style>
</head>
<body>
    <!-- sign up form For the Sign-up form, you will:

Set up the HTML structure with the different fields, including Role, Name, Phone Number, Email, and Password.
Create a Submit button to submit the data.
Create a Reset button to allow users to reset the information.
Make the form responsive.
Apply CSS styling to the Sign-up form based on the design from a previous exercise. -->
    <section class="section-login-signUp">
        <div class="sign-up-form">
            <h1>Sign Up</h1>
            <p style="text-align: center;">Already a member? <span style="color:#2B4BF0"><b><a href="../Login/Login.html">Login</a></b></span></p>
            <form action="">
                <div class="form-group">
                    <label for="role">Role</label>
                    <select name="role" id="role">
                        <option value="patient">Patient</option>
                        <option value="doctor">Doctor</option>
                    </select>
                </div>
                <div class="form-group
                ">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group
                ">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone" placeholder="Enter your phone number" required>
                </div>
                <div class="form-group
                ">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group
                ">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="form-group
                ">
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>


    </section>
</body>
</html>