
.section-login-signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    /* background-color: red; */
}

.sign-up-form {
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.sign-up-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#4CAF50;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button[type="reset"] {
    background-color: #dc3545;
}
/* generic css */
button {
    transition: all 0.5s ease-in-out;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .button:hover {
    transform: scale(0.98);
  }

  * {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }